body
{
    margin: 0;
    border: 0;
    border-right: 0px;
    border-top: 0px;
    scrollbar-face-color: white;
    font-size: 11px;
    scrollbar-highlight-color: #d6e8ff;
    border-left: 0px;
    cursor: default;
    scrollbar-shadow-color: #d6e8ff;
    direction: ltr;
    scrollbar-3dlight-color: #6699cc;
    scrollbar-arrow-color: #567db1;
    border-bottom: 0px;
    crollbar-darkshadow-color: #6699cc;
    scrollbar-base-color: #d6e8ff;
    background-color: #d6e8ff;
    overflow: hidden;
}
.ButtonInvia
{
    font-family: Tahoma;
    font-size: small;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: thin;
    border-color: #99FFCC #0066CC #0066CC #99FFCC;
    clear: both;
    width: 60px;
    height: 25px;
}
DIV.overlay
{
    position: absolute;
    visibility: hidden;
    background-color: silver;
    background-image: url(../Image/progress.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9998;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=40);
    opacity: 0.4;
}
.HeaderYear
{
    font-family: Tahoma;
    font-size: 10pt;
    width: 45px;
    background-image: url(../image/calendar_silver_top21.gif);
    background-repeat: repeat-x;
    background-color: #eaeaea;
    text-align:center;
}
.HeaderDays
{
    font-family: Tahoma;
    font-size: 10pt;
    background-image: url(../image/calendar_silver_top21.gif);
    background-repeat: repeat-x;
    background-color: #eaeaea;
    height: 21px;
    overflow: hidden;
    text-align:center;
}
.HeaderTitle
{
    font-family: Tahoma;
    background-color: #eaeaea;
    height: 15px;
    text-align:center;
}
.RowHeader
{
    font-family: Tahoma;
    font-size: 10pt;
    background-image: url(../image/calendar_silver_left45.gif);
    background-repeat: repeat-y;
    background-color: #cfcfcf;
    width: 45px;
    height: 40px;
    overflow: hidden;
    text-align:center;
}
.RowContent
{
    border: solid 1px #eaeaea;
    text-align:center;
    font-family:Tahoma;
}
#shade, #modal
{
    display: none;
}
#shade
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#modal
{
    position: fixed;
    z-index: 101;
    top: 38%;
    left: 38%;
}
#shade
{
    background: silver;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.success
{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../image/Success.png');
}
