<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reply.Seat.InvioSmsCrm.DataAccess.Properties.Settings.MarketingSEAT_MSCRMConnectionString"
            connectionString="Data Source=174.129.188.203;Initial Catalog=MarketingSEAT_MSCRM;Persist Security Info=True;User ID=d.trotta;Password=David.80"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>